<!-- 

-->
<launch>
    <!--env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find autoexplorer)/config/ffd_rosconsole.conf"/-->

    <arg name="local_planner" default="teb"/>
    <arg name="bag"           default="false"/>
    
    <include file="$(find autoexplorer)/launch/includes/move_former_tpr.launch" if="$(eval arg('local_planner') == 'tpr')"/>
    <include file="$(find autoexplorer)/launch/includes/move_former_teb.launch" if="$(eval arg('local_planner') == 'teb')"/>

    <arg name="namespace" default=""/>
    <arg name="numthreads" default="8"/>
    <arg name="slam_method" default="slam_toolbox"/> <!-- "gmapping" -->
    <!--param name="use_sim_time" value="true"/--> <!--by kmHan-->  
    <!--param name="slam_method" value="$(arg slam_method)"/-->
    <param name="numthreads" value="$(arg numthreads)"/>
    
    <arg name="rviz_config" value ="$(find autoexplorer)/launch/includes/rviz_config/autoexplorer.rviz"/>
    <rosparam command="load" file="$(find autoexplorer)/param/autoexploration.yaml"/>
    
    <!--include file="$(find autoexplorer)/launch/includes/explore_bench-corridor.launch"/-->
    
    <node pkg="autoexplorer" type="autoexplorer_node" name="autoexplorer" args="$(arg slam_method) $(arg numthreads)" output="screen">
        <remap from="cmd_vel" to="/former_base_controller/cmd_vel"/>
    </node>
    <!--include file="$(find path_tracker)/launch/path_tracker.launch" output="screen"/-->
    <!--node pkg="autoexplorer" type="autoexplorer_node" name="autoexplorer" output="screen">
        <param name="frame_id" type="string" value="map" />
    </node-->
    
    <!--node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(arg rviz_config)"/-->    

    <!-- bag -->
    <group if="$(arg bag)">
        <param name="autoexplorer/bag" value="true" />
        <include file="$(find autoexplorer)/launch/includes/autoexploration_bag.launch"/>
    </group>
    
    <!--node pkg="rosbag" type="record" name="rosbag_record" args="record -a -o /media/data/results/explore_bench/bag/"/-->
    
    
    
</launch>
