<!-- 

-->
<launch>
    <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find autoexplorer)/config/ffd_rosconsole.conf"/>
       
    <arg name="slam_method" default="slam_toolbox"/> <!-- "gmapping" -->
    <!--param name="use_sim_time" value="true"/--> <!--by kmHan-->  
    <param name="slam_method" value="$(arg slam_method)"/>
    
    <arg name="rviz_config" value ="$(find autoexplorer)/launch/includes/rviz_config/autoexplorer.rviz"/>
    <rosparam command="load" file="$(find autoexplorer)/param/autoexploration.yaml"/>
    
    <include file="$(find autoexplorer)/launch/includes/move_fetch.launch">
        <arg name="slam_method"        value="$(arg slam_method)" />
    </include> 

	<node pkg="autoexplorer" type="autoexplorer_node" name="autoexplorer" args="$(arg slam_method)" output="screen">
        <param name="frame_id" type="string" value="map" />
    </node>
       
    <!--node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(arg rviz_config)"/-->

</launch>
